@model neat.Areas.Admin.Models.ViewModels.AgregarHamburguesaViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Editar";
    Layout = "AdminLayout";
}

<form action="~/admin/menu/editar" method="post" enctype="multipart/form-data">
    <h1>Editar hamburguesa del menú</h1>
    <input type="hidden" asp-for="Id">
    <span>
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" asp-for="Nombre" required>
    </span>

    <span>
        <label for="precio">Precio:</label>
        <input asp-for="Precio" type="number" id="precio" min="0" step="0.01" required>
    </span>

    <span>
        <label for="descripcion">Descripción:</label>
        <textarea asp-for="Descripcion" id="descripcion" required></textarea>
    </span>

    <span>
        <label for="clasificacion">Clasificación:</label>
        <select asp-for="IdClasificacion" id="clasificacion" required>
            @foreach (var item in @Model.Clasificaciones)
            {
                <option value="@item.Id">@item.Nombre</option>
            }
        </select>
    </span>

    <span>
        <label for="imagen">Imagen:</label>
        <input asp-for="Imagen" type="file" id="imagen" accept="image/png" onchange="previewImagen()">
        <img id="imagen-preview" src="~/hamburguesas/@(Model.Id).png">
    </span>

    <div class="botones">
        <input type="submit" value="Guardar" />
        <a href="~/admin/menu">
            <input type="button" value="Cancelar" />
        </a>
    </div>
</form>

<script>

    function previewImagen() {
        const inputImagen = document.getElementById('imagen');
        const imagenPreview = document.getElementById('imagen-preview');

        const archivoImagen = inputImagen.files[0];

        if (archivoImagen) {
            const lector = new FileReader();

            lector.onload = function (e) {
                imagenPreview.src = e.target.result;
                imagenPreview.style.display = 'block';
            };

            lector.readAsDataURL(archivoImagen);
        } else {
            imagenPreview.src = '#';
            imagenPreview.style.display = 'none';
        }
    }
</script>
